/* Güncellenmiş Navigation Bar Stili */

        a {
            color:black;
            font-weight: bold;
            
        }

        #imgicon {
            
            width: 30px;
            height: 30px;
        }
        li {
            line-height: 1.5;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            vertical-align: middle;
        }
        li img {
            margin-right: 10px; /* Resim ile metin arasındaki boşluk */
        }
        
        h1 {
            background-color: black;
            color: white;
            background-size: 25px, 25px;
            margin: 5px;

        }
        #h2a {
            vertical-align: middle;
            margin-bottom: 5px;
            padding-bottom: 15px;
            padding-top: 15px;
           
        }
        #bttmline {
            background-color: black;
            color: white;
            background-size: 25px, 25px;
        }
        nav {
            display: flex;
            justify-content: flex-end;
            background-color: black;
            padding: 10px;
            position: fixed;
            width: auto;
            top: 0;
            right: 0;
            z-index: 1000;
        }

        nav a {
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            margin-left: 10px; /* Bağlantılar arasında 10 piksellik boşluk */
        }

        nav a:hover {
            background-color: #555;
        }

        #imgself {
            --g: 3px;     /* the gap */
            --b: 5px;    /* border thickness*/
            --c: black; /* the color */
            
            
            padding: calc(var(--g) + var(--b));
            --_c: #0000 0 25%, var(--c) 0 50%;
            --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
            --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
            background:
              var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
              var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
            background-size: 200% var(--b),var(--b) 200%;
            cursor: pointer;
            filter: grayscale(50%);
            transition: .3s;
          }
          img:hover {
            --_p: 75%;
            filter: grayscale(0%);
          }
          
          